@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Viaoda+Libre&display=swap');

body {
    font-family: 'Satisfy', cursive;
    color: darkslategray;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/*  Navbar and Logo styling */

#logo {
    font-family: 'Satisfy', cursive;
    font-size: 28px;
    color: darkslategray; 
    
}

.navbar {
    background-color: lightsalmon;
    margin: 0px;
    color: darkslategray;
}

.navbar-brand {
    text-align: left;
}

.nav-link {
    font-size: 28px;
    color: darkslategray;
    
}

.navbar-dark .navbar-nav .nav-link {
    color: darkslategray;
}


.navbar-toggler-icon {
    border-color: darkslategray;
    
}

/* Images and container */

#hero-image {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

#background-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

#background-image {
    opacity: 0.5;
}

.container {
  position: relative;
  max-width: 100%;
  height: fit-content;
  
  
}

.container img {
    vertical-align: middle;
}

/* buttons and container */

.container .content {
  position: absolute;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;  
  
}

.content {
    display: inline-flexbox;
    height: 300px;
    padding-right: 30px;
    font-size: 36px;
    color: lightsalmon;
    text-align: center;
    flex-direction: column;
    overflow: scroll;
}

.content a {
   color: darkslategray;
}

text-center {
    position: absolute;
}

.text-center-2 {
    font-size: 18px;
    color: darkslategray;
    display: inline-block;
    padding-top: 20px;
}

.mb-5, .my-5 {
    padding-top: 30px;
}

    
/* Headers */

h2 {
    color: lightsalmon;
}

h1 {
  margin-left: auto;
  text-align: center;
  font-weight: 100;
  font-size: 2.8em;
  color: darkslategray
  
}

/* Form */

#form {
    margin: auto;
    position: relative;
    display: block;
  }

#form-container {
    background-color: lightsalmon;
    height: 500px;
    width: auto;
    margin: auto;
}

#form-container h1 {
    padding-top: 10px;
}


.form-group {
    padding: 10px; 
    margin-bottom: 5px; 
    border-top-style: none; 
    border-right: 20px; 
    border-left: 20px; 
    font-size: 1em;
    font-weight: 100;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

button, input {
    overflow: hidden;
}

/* bootstrap buttons */

.btn-primary {
    color: black;
    background-color: white;
    float: right;
	font-size:18px;
	font-weight: 200;
	padding:6px 24px;
    margin-right: 60px;
    text-decoration: none;
    border-color: lightsalmon;
}

.btn-primary:hover, .btn-outline-info:hover {
	
    background-color: lightsalmon;
    border-color: lightsalmon;
}

.btn-outline-info {
    font-size: 18px;
    font-weight: 200;
    color: darkslategray;
    border-color: darkslategray;
    
}

.col {
    padding-bottom: 10px;
    padding-top: 10px;
    

}

/* form smaller in larger devices */

@media only screen 
  and (min-device-width: 600px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
    {
    #form {
        width: 400px;
        margin: auto;
        position: relative;
        display: block;
      }

    }

/* Social Media */

footer{
    width: 100%;
    background-color: white;
}

.social-media {
    text-align: center;
}

.social-media li{
    display: inline;
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 0;
}

.social-media i{
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: lightsalmon;
}


ul.social-media {
    padding: 0;
    
}

/* Map */

div#map {
    min-height: 360px;
}